#map{ height:100%; }

body{ height: 100%; margin:0px; }

html{ height: 100%; }

#sidebar{
	position: relative;
}

#streetView{
	width: 98%;
}


/*Ribbon from https://github.com/petethepig/github-ribbons-css*/

.ribbon.blue{
  background: #2880CA;
}

.ribbon.right{
  right: -42px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ribbon a,
.ribbon a:visited,
.ribbon a:active,
.ribbon a:hover{
  display: block;
  padding: 1px 0;
  height: 24px;
  line-height: 24px;

  color: inherit;
  text-align: center;
  text-decoration: none;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 15px;
  font-weight: 500;

  border: 1px solid rgba(255,255,255,0.3);

  -moz-text-shadow: 0 0 10px rgba(0,0,0,0.31);
  -webkit-text-shadow: 0 0 10px rgba(0,0,0,0.31);
  text-shadow: 0 0 10px rgba(0,0,0,0.31);
}

.ribbon{
  position: absolute;
  top: 42px;
  width: 200px;
  padding: 1px 0;
  background: #000;
  color: #eee;
  z-index: 100;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}